<header class="header">
  <h1><%= typeof title !== 'undefined' ? title : 'Admin' %></h1>
  <div class="user-info">
    <span id="ownerName">Owner</span>
    <div class="avatar" id="ownerAvatar">O</div>
  </div>
</header>
